<h1>Leaderboards</h1>

<md-tab-group>
    <md-tab>
        <template md-tab-label>Daily</template>
        <template md-tab-content>
            <h4>Some tab content</h4>
            <p>...</p>
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>Weekly</template>
        <template md-tab-content>
            <h4>Some more tab content</h4>
            <p>...</p>
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>Monthly</template>
        <template md-tab-content>
            <h4>Some more tab content</h4>
            <p>...</p>
        </template>
    </md-tab>
</md-tab-group>